body {
    background-color: rgba(29,31,33,255);
}
.container {
    width: auto; /* should be 100% on full page*/
    /* border: 1px solid black; */
    background-color: rgba(29,31,33,255);
    float: left;
}

.picture {
    display: inline-block;
    float: left;
}   

.info {
    display: inline-block;
    float: right;
    color: white;
    margin-left: 8px;
    padding: 4px;
}

img {
    width: 252px;
    padding: 4px;
}

hr {
    border: 2px  dotted grey;
}

span {
    color: aquamarine;
}